<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SangBleuSans/SangBleuSunrise-Air-WebXL.otf</string>
		<string>SangBleuSans/SangBleuSunrise-AirItalic-WebXL.otf</string>
		<string>SangBleuSans/SangBleuSunrise-Bold-WebXL.otf</string>
		<string>SangBleuSans/SangBleuSunrise-BoldItalic-WebXL.otf</string>
		<string>SangBleuSans/SangBleuSunrise-Light-WebXL.otf</string>
		<string>SangBleuSans/SangBleuSunrise-LightItalic-WebXL.otf</string>
		<string>SangBleuSans/SangBleuSunrise-Livre-WebXL.otf</string>
		<string>SangBleuSans/SangBleuSunrise-Medium-WebXL.otf</string>
		<string>SangBleuSans/SangBleuSunrise-MediumItalic-WebXL.otf</string>
		<string>SangBleuSans/SangBleuSunrise-Regular-WebXL.otf</string>
		<string>SangBleuSans/SangBleuSunrise-RegularItalic-WebXL.otf</string>
	</array>
</dict>
</plist>
